In [216]:
import pandas as pd
import json
from pandas import Series, Timestamp
from pandas import DataFrame
from numpy import nan
import numpy as np
import pandas as pd
import numpy as np

def load_jsons(data_path, file):
    """ helper function to load '.json' files (they're not proper jsons) """
    file_path = data_path + file
    with open(file_path) as jsons:
        lines = [json.loads(json_line) for json_line in jsons]
    return pd.DataFrame(lines)

In [217]:
conda update pandas

Collecting package metadata (current_repodata.json): done
Solving environment: \

Updating pandas is constricted by

anaconda -> requires pandas==0.25.1=py37h0a44026_0

If you are sure you want an update of your package either try `conda update --all` or install a specific version of the package you want using `conda install <pkg>=<version>`

done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [218]:
# Load data for town called Ambridge

data_path = './data/Ambridge/'

review_file = 'review.json'
business_file = 'business.json'
user_file = 'user.json'
tip_file = 'tip.json'
checkin_file = 'checkin.json'

reviews = load_jsons(data_path, review_file)
businesses = load_jsons(data_path, business_file)
users = load_jsons(data_path, user_file)
tips = load_jsons(data_path, tip_file)
checkins = load_jsons(data_path, checkin_file)

In [219]:
# # Load data for town called Ambridge,Belmont,Heidelberg,York
# data_path1 = './data/Ambridge/'
# data_path2 = './data/Belmont/'
# data_path3 = './data/Heidelberg/'
# data_path4 = './data/York/'

# review_file = 'review.json'
# business_file = 'business.json'

# reviews1 = load_jsons(data_path1, review_file)
# reviews1 = reviews1.append(load_jsons(data_path2, review_file), ignore_index=True)
# reviews1 = reviews1.append(load_jsons(data_path3, review_file), ignore_index=True)
# reviews = reviews1.append(load_jsons(data_path4, review_file), ignore_index=True)

# businesses1 = load_jsons(data_path1, business_file)
# businesses1 = businesses1.append(load_jsons(data_path2, business_file), ignore_index=True)
# businesses1 = businesses1.append(load_jsons(data_path3, business_file), ignore_index=True)
# businesses = businesses1.append(load_jsons(data_path4, business_file), ignore_index=True)

In [220]:
display(reviews.head())
display(businesses.head())
# display(users.head())
# display(tips.head())
# display(checkins.head())

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,qb2EVdmVNvw3D0kBMN6Xrg,hXydWH25S92HjI5hmWRSyA,dJ0R-XT78LUQeNHQkD-G9g,5.0,0,0,0,Best place to get ice cream. They have only tw...,2018-08-14 04:03:02
1,Ecr_pKR7786kmcLVXLp5NA,vo6vLeHoPl_h-Vt-YHs9_A,Q_0eGl-aElqHKukHvmLdwA,1.0,0,0,0,"Sorry to say, Nelias did not live up to the ot...",2015-12-05 23:21:39
2,Ro6-JL0KCS5JULXUNRST-w,i1qyYL4fpAel8Ljt4WaZ3g,Q_0eGl-aElqHKukHvmLdwA,1.0,0,0,0,Wouldn't give it one star if I could. This pla...,2015-08-07 19:33:13
3,tuDIfqFjtj5zTLjtY9W1Hg,dUOg3fS3RTYDZUpu0CqqiA,729grSa1Wsn-hfv7D5uOxg,5.0,2,0,1,Police Station Pizza has always been my favori...,2014-10-28 18:29:48
4,zw3oXGWKQdVjST5UI9kM3g,k2Bsnh6CV0HFX8RgGR1p9A,Q_0eGl-aElqHKukHvmLdwA,5.0,0,0,0,There is nothing fancy about this place - it i...,2013-04-13 15:58:06

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,dJ0R-XT78LUQeNHQkD-G9g,Ice Cream Therapy,400 Merchant St,Ambridge,PA,15003,40.584100,-80.225135,3.5,3,1,None,"Food, Ice Cream & Frozen Yogurt","{'Monday': '15:0-22:0', 'Tuesday': '15:0-22:0'..."
1,3gL18eXylqutlzqb6TmB0w,Action Tire Company,304 Duss Ave,Ambridge,PA,15003,40.582380,-80.223875,5.0,4,1,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Smog Check Stations, Tires, Autom...","{'Monday': '6:30-16:0', 'Tuesday': '6:30-16:0'..."
2,Q_0eGl-aElqHKukHvmLdwA,Nelia's Smokehouse,603 Duss Ave,Ambridge,PA,15003,40.587939,-80.224885,4.0,18,0,"{'Alcohol': 'u'none'', 'OutdoorSeating': 'Fals...","Filipino, Food, Restaurants, Barbeque, Smokehouse","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'..."
3,Eu_zPTrNVAXkpdSxf7CJ2w,K & N Restaurant,755 Merchant St,Ambridge,PA,15003,40.588606,-80.229103,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Breakfast & Brunch, Restaurants, American (Tra...","{'Monday': '6:0-19:0', 'Tuesday': '6:0-19:0', ..."
4,Yjf0i2J9q52dYIT8UVGT3g,Heritage Floral Shoppe,663 Merchant St,Ambridge,PA,15003,40.587650,-80.228493,4.5,4,1,"{'BusinessParking': '{'garage': False, 'street...","Florists, Flowers & Gifts, Shopping","{'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ..."

In [221]:
import matplotlib.pyplot as plt
%matplotlib inline

In [222]:
# maak een set met alle categorieën uit de businesses subset.

#businesses = businesses.dropna()
categories = businesses.categories
categorie_list = []
for item in categories:
    categorie_list += item.split(',')
categorie_list = [item.lstrip() for item in categorie_list]
    
categorie_set = set(categorie_list)
categorie_set = sorted(categorie_set, reverse=False)

categorie_series = Series(categorie_set)

print(categories)

0                       Food, Ice Cream & Frozen Yogurt
1     Auto Repair, Smog Check Stations, Tires, Autom...
2     Filipino, Food, Restaurants, Barbeque, Smokehouse
3     Breakfast & Brunch, Restaurants, American (Tra...
4                   Florists, Flowers & Gifts, Shopping
5                                      Pets, Pet Stores
6                                    Restaurants, Pizza
7                 Lounges, Nightlife, Restaurants, Bars
8                  Car Wash, Automotive, Auto Detailing
9     Auto Repair, Automotive, Tires, Auto Parts & S...
10    Home Services, Professional Services, Local Se...
11    Bakeries, Food, Restaurants, Desserts, Farmers...
12                      Southern, Barbeque, Restaurants
13    American (Traditional), Restaurants, Nightlife...
14    Home Decor, Shopping, Hardware Stores, Home & ...
15                       Sandwiches, Pizza, Restaurants
16                 Mexican, Restaurants, Tex-Mex, Tacos
17                                 Chinese, Restaurants
18       Shopping, Nurseries & Gardening, Home & Garden
19    American (Traditional), Music Venues, Nightlif...
20                                 Shopping, Vape Shops
21                                   Pizza, Restaurants
22                         Bakeries, Coffee & Tea, Food
23    Local Services, Appliances, Home & Garden, App...
24              Dive Bars, Sports Bars, Bars, Nightlife
25                         Bars, Sports Bars, Nightlife
26                                   Antiques, Shopping
27    Restaurants, Delis, Bars, Nightlife, Sports Ba...
28                                   Antiques, Shopping
29    Restaurants, Pubs, Nightlife, American (New), ...
30       Restaurants, Sandwiches, Salad, American (New)
31    Caterers, Greek, Restaurants, Event Planning &...
32                                 Italian, Restaurants
33                                   Pizza, Restaurants
34    Restaurants, Food, Sandwiches, Breakfast & Bru...
35                        Museums, Arts & Entertainment
Name: categories, dtype: object

In [223]:
# categories_restaurants = categories
# categories_restaurants = categories_restaurants.drop([1,4,5,8,9,10,14,18,20,23,26,28,35])
# businesses.categories = categories_restaurants
# print(businesses.categories)

In [224]:
def extract_genres(movies):
    """Create an unfolded genre dataframe. Unpacks genres seprated by a '|' into seperate rows.

    Arguments:
    movies -- a dataFrame containing at least the columns 'movieId' and 'genres' 
              where genres are seprated by '|'
    """
    categories_m = businesses.apply(lambda row: pd.Series([row['business_id']] + row['categories'].lower().split(",")), axis=1)
    stack_categories = categories_m.set_index(0).stack()
    df_stack_categories = stack_categories.to_frame()
    df_stack_categories['business_id'] = stack_categories.index.droplevel(1)
    df_stack_categories.columns = ['categories', 'business_id']
    return df_stack_categories.reset_index()[['business_id', 'categories']]

In [225]:
businesses = businesses.dropna()

In [226]:
df_categories = extract_genres(businesses)
display(df_categories.head())

              business_id            categories
0  3gL18eXylqutlzqb6TmB0w           auto repair
1  3gL18eXylqutlzqb6TmB0w   smog check stations
2  3gL18eXylqutlzqb6TmB0w                 tires
3  3gL18eXylqutlzqb6TmB0w            automotive
4  Q_0eGl-aElqHKukHvmLdwA              filipino

In [227]:
# maak een utility matrix voor de categorieën per business.

def pivot_categories(df):
    """Create a one-hot encoded matrix for genres.
    
    Arguments:
    df -- a dataFrame containing at least the columns 'movieId' and 'genre'
    
    Output:
    a matrix containing '0' or '1' in each cell.
    1: the movie has the genre
    0: the movie does not have the genre
    """
    return df.pivot_table(index = 'business_id', columns = 'categories', aggfunc = 'size', fill_value=0)

df_utility_categories = pivot_categories(df_categories)
display(df_utility_categories.head())

categories,american (new),american (traditional),appliances,appliances & repair,arts & entertainment,auto detailing,auto parts & supplies,automotive,barbeque,bars,...,home decor,home services,italian,local services,lounges,mexican,museums,pizza,restaurants,southern
business_id,,,,,,,,,,,,,,,,,,,,,
-InU2nAbC9AuS-Um2Cowgw,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3gL18eXylqutlzqb6TmB0w,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4mpSNvmyG89Uqy2ahP4JMQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
729grSa1Wsn-hfv7D5uOxg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7xRbOtZUuw7DxOWrHeaanw,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [228]:
def create_similarity_matrix_jaccard(matrix):
    m11 = matrix @ matrix.T
    m10 = pd.DataFrame(matrix.sum(axis = 1).values + np.zeros(m11.shape), index = m11.index, columns = m11.index)
    m01 = m10.T
    return m11/(m01 + m10 - m11)
    
    
test = pd.DataFrame([[0,1,1,0],[1,0,1,0],[0,0,0,0],[1,1,1,1],[0,1,0,1]], index = [18,19,20,21,22])
display(create_similarity_matrix_jaccard(test))

          18        19   20   21        22
18  1.000000  0.333333  0.0  0.5  0.333333
19  0.333333  1.000000  0.0  0.5  0.000000
20  0.000000  0.000000  NaN  0.0  0.000000
21  0.500000  0.500000  0.0  1.0  0.500000
22  0.333333  0.000000  0.0  0.5  1.000000

In [229]:
df_similarity_categories = create_similarity_matrix_jaccard(df_utility_categories)
display(df_similarity_categories.head())

business_id,-InU2nAbC9AuS-Um2Cowgw,3gL18eXylqutlzqb6TmB0w,4mpSNvmyG89Uqy2ahP4JMQ,729grSa1Wsn-hfv7D5uOxg,7xRbOtZUuw7DxOWrHeaanw,EOmRHPvzR88a5R2j2uD0cQ,EZ9zSk4ld27LwgfANoF4VA,Eu_zPTrNVAXkpdSxf7CJ2w,GI1WxFbY9tJ9-ChRrwnrzg,KLptkOv3OiNSTU4unZv9Sg,...,TsusMt8MhyWaQOVL-MLnjA,XJfvPt-8f-6d5Foaz_HYLQ,Yjf0i2J9q52dYIT8UVGT3g,ftx72aqADrNYmOlMytdtCg,iJhb_2JL1uIbIRYUl41uVg,lawYwEXAE-Sq2nf6co7aBg,muFJIZKZwbAfy_pEFKF_pw,rdHO0LkiNe6s3716hPuQXQ,xM8dVGLkYaL94EuAIkjMEA,yyGzYDh0Qa2o8vUGMEjDRA
business_id,,,,,,,,,,,,,,,,,,,,,
-InU2nAbC9AuS-Um2Cowgw,1.0,0.0,0.000000,0.2,0.000000,0.0,0.0,0.000000,0.00,0.000000,...,0.0,0.285714,0.0,0.0,0.000000,0.0,0.00,0.000000,0.0,0.0
3gL18eXylqutlzqb6TmB0w,0.0,1.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00,0.000000,...,0.0,0.000000,0.0,0.0,0.166667,0.0,0.00,0.000000,0.0,0.0
4mpSNvmyG89Uqy2ahP4JMQ,0.0,0.0,1.000000,0.0,0.166667,0.0,0.0,0.166667,0.20,0.142857,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.20,0.142857,0.0,0.0
729grSa1Wsn-hfv7D5uOxg,0.2,0.0,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.00,0.000000,...,0.0,0.166667,0.0,0.0,0.000000,0.0,0.00,0.000000,0.0,0.0
7xRbOtZUuw7DxOWrHeaanw,0.0,0.0,0.166667,0.0,1.000000,0.0,0.0,0.200000,0.25,0.166667,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.25,0.166667,0.0,0.0

In [230]:
def split_data(data, d = 0.75):
    """Split data in a training and test set.
    
    Arguments:
    data -- any dataFrame.
    d    -- the fraction of data in the training set
    """
    np.random.seed(seed=5)
    mask_test = np.random.rand(data.shape[0]) < d
    return data[mask_test], data[~mask_test]

In [231]:
df_businesses_training, df_businesses_test = split_data(businesses, d=0.75)

In [232]:
def predict_ids(similarity, utility, userId, itemId):
    # select right series from matrices and compute
    if userId in utility.columns and itemId in similarity.index:
        return predict_vectors(utility.loc[:,userId], similarity[itemId])
    return 0

def predict_vectors(user_ratings, similarities):
    # select only movies actually rated by user
    relevant_ratings = user_ratings.dropna()
    
    # select corresponding similairties
    similarities_s = similarities[relevant_ratings.index]
    
    # select neighborhood
    similarities_s = similarities_s[similarities_s > 0.0]
    relevant_ratings = relevant_ratings[similarities_s.index]
    
    # if there's nothing left return a prediction of 0
    norm = similarities_s.sum()
    if(norm == 0):
        return 0
    
    # compute a weighted average (i.e. neighborhood is all) 
    return np.dot(relevant_ratings, similarities_s)/norm

In [233]:
def mse(predicted_ratings):
    """Computes the mean square error between actual ratings and predicted ratings
    
    Arguments:
    predicted_ratings -- a dataFrame containing the columns rating and predicted rating
    """
    diff = predicted_ratings['stars'] - predicted_ratings['predicted rating']
    return (diff**2).mean()

In [234]:
reviews = reviews.drop(columns=['review_id', 'useful', 'funny', 'cool', 'text'])

In [235]:
reviews = reviews.sort_values(by=['user_id'])

In [236]:
reviews = reviews.reset_index()

In [237]:
df_reviews_training, df_reviews_test = split_data(reviews, d=0.75)

In [238]:
df_reviews_training = df_reviews_training.drop(columns=['index'])

In [239]:
def pivot_ratings(df):
    """Creates a utility matrix for user ratings for movies
    
    Arguments:
    df -- a dataFrame containing at least the columns 'movieId' and 'genres'
    
    Output:
    a matrix containing a rating in each cell. np.nan means that the user did not rate the movie
    """
    return df.pivot_table(values='stars', columns='user_id', index='business_id')

In [240]:
df_utility_reviews = pivot_ratings(df_reviews_training)
display(df_utility_reviews.head())

user_id,-3uEQhR9MXaC5QTHJ4lraw,00VGQdtbdvfYfxZIPniAqQ,0N91KZHstHSnKwJVRa2p2g,0WygCUOgOMxucwZsrYru9w,1gJw6DxTrf0Zmp9gDgYlrQ,1kcOj0Ch394fLiUaC_fD9g,1q47TqjCRH92PhXIA9t9kA,21D8GYYY-NptvXhBb9x08Q,285_HzJIJn79LJMvIxLNzg,2UGnRhCO5pUWplHiagfYgw,...,wFFLWorAWh3hpxVLQP8YWw,wUhgzbMAAOr88VVTiQUrvg,wqrkoO4OISQ9LudoQhbdXw,wvLzHjWKwkCuEzWdTVdiGg,xA4ERJDFuPDBg-0U_G3llg,xBK-ElArbwMaonFFAI4NAA,xP53fNYIx6ZNoTqSXrT5gQ,y4a_7xpbvRvCGwMNY4iRhQ,z7cR4xXpRrTV55LHDM9SBg,zuAt2Htm1-AKs_fXuuOPcg
business_id,,,,,,,,,,,,,,,,,,,,,
-InU2nAbC9AuS-Um2Cowgw,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
0EyRe-VkW8gYxxZ7NCQXeQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_7lYF6P2cYKnSiPhhVyPQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3gL18eXylqutlzqb6TmB0w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
4mpSNvmyG89Uqy2ahP4JMQ,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
def predict_ratings(similarity, utility, to_predict):
    """Predicts the predicted rating for the input test data.
    
    Arguments:
    similarity -- a dataFrame that describes the similarity between items
    utility    -- a dataFrame that contains a rating for each user (columns) and each movie (rows). 
                  If a user did not rate an item the value np.nan is assumed. 
    to_predict -- A dataFrame containing at least the columns movieId and userId for which to do the predictions
    """
    # copy input (don't overwrite)
    ratings_test_c = to_predict.copy()
    # apply prediction to each row
    ratings_test_c['predicted rating'] = to_predict.apply(lambda row: predict_ids(similarity, utility, row['user_id'], row['business_id']), axis=1)
    return ratings_test_c

def predict_ids(similarity, utility, userId, itemId):
    # select right series from matrices and compute
    if userId in utility.columns and itemId in similarity.index:
        return predict_vectors(utility.loc[:,userId], similarity[itemId])
    return 0

def predict_vectors(user_ratings, similarities):
    # select only movies actually rated by user
    relevant_ratings = user_ratings.dropna()
    
    # select corresponding similairties
    similarities_s = similarities[relevant_ratings.index]
    
    # select neighborhood
    similarities_s = similarities_s[similarities_s > 0.0]
    relevant_ratings = relevant_ratings[similarities_s.index]
    
    # if there's nothing left return a prediction of 0
    norm = similarities_s.sum()
    if(norm == 0):
        return 0
    
    # compute a weighted average (i.e. neighborhood is all) 
    return np.dot(relevant_ratings, similarities_s)/norm

In [242]:
mse_categories = 0
predict_categories = predict_ratings(df_similarity_categories, df_utility_reviews, df_reviews_test[['user_id','business_id','stars']])

predict_categories_new = predict_categories.loc[(predict_categories != 0).all(axis=1), :]
mse_categories = mse(predict_categories_new)

print(f'mse for content based filtering: {mse_categories:.2f}')

mse for content based filtering: 0.79

In [243]:
mse_random = 0
predicted_random = df_reviews_test.copy()[['user_id', 'business_id', 'stars']]
predicted_random['predicted rating'] = np.random.uniform(0.5,5.0, size=len(predicted_random))
mse_random = mse(predicted_random)

print(f'mse for random prediction: {mse_random:.2f}')

mse for random prediction: 5.42

In [244]:
mse_mean = 0
predicted_mean = df_reviews_test.copy()[['user_id', 'business_id', 'stars']]
predicted_mean['predicted rating'] = df_reviews_training.stars.mean()
mse_mean = mse(predicted_mean)

print(f'mse for mean prediction: {mse_mean:.2f}')

mse for mean prediction: 1.85

In [245]:
predict_categories_sorted = predict_categories_new.sort_values(by=['predicted rating'], ascending=False)[0:20]
print(predict_categories_sorted)

                    user_id             business_id  stars  predicted rating
74   ABOuNch7iuYBOjjFsxpM1A  KQrgpqBmIsBbdAn6CnfgCA    4.0          5.000000
276  kiWPm6uCidjGbsolfqEkvg  xM8dVGLkYaL94EuAIkjMEA    5.0          5.000000
321  s-763p9_uqI8vr_0O_ToFQ  -InU2nAbC9AuS-Um2Cowgw    4.0          5.000000
116  L2flvGCgPWYqBWdLcOMNdw  N92Pbr2ygKDLkjmr-4BAPw    5.0          5.000000
333  v2hPERrqGGxsfmT293q4mA  -InU2nAbC9AuS-Um2Cowgw    4.0          5.000000
334  v2hPERrqGGxsfmT293q4mA  KLptkOv3OiNSTU4unZv9Sg    4.0          5.000000
373  y4a_7xpbvRvCGwMNY4iRhQ  EOmRHPvzR88a5R2j2uD0cQ    4.0          5.000000
374  y4a_7xpbvRvCGwMNY4iRhQ  EOmRHPvzR88a5R2j2uD0cQ    4.0          5.000000
339  v2hPERrqGGxsfmT293q4mA  Q_0eGl-aElqHKukHvmLdwA    5.0          5.000000
186  W40B1zLVNT8dnNZQt90mpw  Q_0eGl-aElqHKukHvmLdwA    4.0          4.482759
14   21D8GYYY-NptvXhBb9x08Q  Eu_zPTrNVAXkpdSxf7CJ2w    5.0          4.411765
69   9p_vj2TD8G4kYsHT48z05g  -InU2nAbC9AuS-Um2Cowgw    2.0          4.000000
271  kiWPm6uCidjGbsolfqEkvg  TsusMt8MhyWaQOVL-MLnjA    5.0          4.000000
348  vCMLDTmNQJTshp0buV1JaA  N92Pbr2ygKDLkjmr-4BAPw    4.0          4.000000
159  RLRYmD7XdbQPgXhlFI_Y7A  N92Pbr2ygKDLkjmr-4BAPw    2.0          3.000000
132  NOR93THAvtPUrJlzP9a3pA  ftx72aqADrNYmOlMytdtCg    1.0          1.000000

In [246]:
# r2 score

In [247]:
from sklearn.metrics import r2_score

trues = predict_categories_sorted['stars']
pred = predict_categories_sorted['predicted rating']

r2_score(trues, pred)

0.42165164840938585

In [248]:
# evs

In [249]:
from sklearn.metrics import explained_variance_score

explained_variance_score(trues, pred)

0.6007421614949882